@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --dark-blue: #042835;
  --blue-button: #387FAF;
}

/* header */

.nav-item > a {
  font-size: 20px;
  font-weight: 500;
  color: var(--dark-blue);
}

/* background */

.background {
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh; 
    position: relative; 
    padding-bottom: 80px;
    padding-top: 60px;
}


.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}

.background * {
    position: relative;
    z-index: 2;
}


.maintitle {
  position: relative;
  top: 23%;
  left: 70px;
  color: white;
  font-size: 64px;
  font-weight: 500;
  z-index: 2;
}

.background .btn-lightblue {
    background-color: var(--blue-button);
    color: white;
    border: none;
    border-radius: 25px;
    top: 68%;
    left: 0px;
    /* padding: 5px 15px; */
    font-size: 18px;
    display: block;
    padding-left: 45px;
    padding-right: 45px; 
}
  
.background .btn-lightblue:hover {
    background-color:var(--blue-button); 
    transform: scale(1.05); 
    color:white;
}




/* popular destinations */

.title {
  color: var(--dark-blue);
  border-bottom: 2px solid black;
  margin-top: 50px;
  padding-bottom: 17px; 
  display: inline-block;
  ; 
}



/* popular destinations */

.destination-card {
  position: relative;
  border-radius: 15px;
  margin-bottom: 20px;
}


.destination-card .overlay {
  position: absolute;
  bottom: 0;
  left: 0%;
  right: 0;
  padding: 20px;
  color: white;
}

.destination-card .country {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.destination-card .btn-blue {
  background-color: var(--blue-button);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 30px;
  font-size: 14px;
  display: block;
  margin: 0 auto;
}
.destination-card .btn-blue:hover {
  background-color:var(--blue-button); 
  transform: scale(1.05); 
  color:white;
}




/* paginator */
.paginator {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  
}

.paginator > button {
  color: var(--blue-button);
  background-color: #fff;
  padding: 10px 20px;
  border: none;
  margin-left: 10px;
}

.slick-dots {
  position: absolute;
  bottom: -85px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style:inside;
  text-align: center;
}